@model IList<ProductEntity>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<form asp-action="GetProductList" asp-controller="product">
    <button type="submit">
        Submit
    </button>
</form>*@


<section>
    <div class="container">
        <div class="pb-10">
            <a href="/product/create" class="btn btn-primary">Create New</a>
        </div>
        <table id="datatable" class="mt-10">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th>title</th>
                    <th>Excerpt</th>
                    <th>Description</th>
                </tr>
            </thead>
            
        </table>
    </div>
</section>

@section Scripts{
    <script src="~/js/Datatable.js"></script>

}
